body {
  font-family: "Source Code Pro", monospace;
  color: #939aa9;
}

.city-name {
  text-transform: capitalize;
}

.temperature-value {
  color: #fe9b09;
}

.weather-widget {
  width: 100%;
  max-width: 1240px;
  margin: 20px auto;
}

.units {
  display: inline;
  position: relative;
  top: -34px;
}

.degree {
  text-decoration: none;
  color: #939aa9;
  font-size: 24px;
}

.degree.active {
  color: #fe9b09;
}

.pipe {
  display: inline-block;
  height: 18px;
  width: 2px;
  background-color: #939aa9;
}

.author-weather-widget {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
  color: #7b7f85;
}

.author-weather-widget__social-link {
  width: 100%;
  max-width: 25px;
}

.author-weather-widget_author-image {
  width: 100%;
  max-width: 50px;
}

.btn-rounded {
  border-radius: 19px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
}
